/* Basic reset */
*, *:before, *:after {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#intro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: #e74c3c;
    color: white;
    font-family: Palanquin, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

#intro h3{
    margin: 20px 0 10px;
}

#intro p {
    font-size: 30px;
    font-weight: 100;
    margin-top: 10px;
}

#intro p strong {
    font-weight: 900;
    margin-right: 30px;
}

#intro h3 {
    font-size: 30px;
    margin-top: 50px;
}

#intro input{
    border: 0;
    font-size: 24px;
    padding: 10px;
    width: 300px;
}

#intro button {
    border: 5px solid white;
    width: 300px;
}